{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Stuff Pass</title>
    <link rel='stylesheet' type='text/css' href='/static/item/css/bootstrap.min.css' />
    <link rel='stylesheet' href='{% static 'css/style.css' %}' />
    <link rel="stylesheet" href="/static/item/css/override-panel.css">
    <link rel="stylesheet" href="/static/item/css/advanced-search.css"/>
    <link rel="stylesheet" href="/static/item/css/nav.css"/>
    <link rel="stylesheet" href="/static/item/css/singleItem.css"/>
</head>
<body>
    <div id='content'></div>
    <script src='/static/build/bundle.js'></script>
</body>
</html>